script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
script(src="/socket.io/socket.io.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
script(src='/static/config.js')
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
script(src='https://code.jquery.com/jquery-3.4.1.js', integrity='sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=', crossorigin='anonymous')
script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')

link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.3.1/css/all.css', integrity='sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU', crossorigin='anonymous')
link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')

script(src='https://code.jquery.com/jquery-1.9.1.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/FeedEk/3.0.0/js/FeedEk.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js')
link(rel='StyleSheet' href="/static/style.css" type="text/css")
div(class="one_index")

	img(src="/static/img_main_file/logo_abancaycito_v1.png" class="ppp")
	div(class="menu2")


		a(href="/home")
			i.material-icons home

		a(class="menu-show" href="/tienda")
			i.material-icons shopping_cart
div(class="good_hour")
	
	h2 Verifica que todos los datos sean correctos
	hr
	div(class="choose_type_user")
		h4 Elige un tipo de usuario 
		div(class="choose_standard")
			a(class="shoose_1")
				img(src="/static/img_main_file/abc_logo.png" class="log")
				br 
				h3(class="inf_shoose") usuario standard
		div(class="choose_admin_business")
			a(class="shoose_2")
				img(src="/static/img_main_file/abc_logo.png" class="log_1")
				br
				h3(class="inf_shoose") usuario ejecutivo
		hr

		.form(id="edit_user_form")
			i.material-icons vpn_key | 
			label Contraseña
			.col
				input#password.form-control.input_check(type='password', value=Pass name='password')
			.col
				button.btn.btn-primary(type='button', onclick='mostrarContrasena()')
					i.material-icons visibility
			hr
			i.material-icons person | 
			label Nombre
			input(value=Name class="form-control input_check" name='name' id="name_check")

			hr
			i.material-icons person_pin | 
			label Nombre de usuario
			input(value=Username class="form-control input_check" name='username' id="user_check")

			hr
			i.material-icons mail | 
			label Correo electronico
			input(value=Mail class="form-control input_check" name='mail' id="mail_check")

			hr
			i.material-icons phone | 
			label Numero de telefono
			input(value=Phone class="form-control input_check" name='phone' id="phone_check")

			button(class="btn save_user")
				i.material-icons done_all
			a(class="btn cancel_user_check" href="/")
				i.material-icons close
	div(class="alert")
		h3 Felicitaciones! ya formas parte de la comunidad de abancaycito, genial!
	div(class="bad_alert")
		h3 a ocurrido un error lo mas probable que el nombre de usuario ya esta ocupado!
script(src='/static/config.js')